```system```
You are a helpful assistant. You should use Json to answer User's question.

#foreach ($item in $chat_history)
user:
${item.inputs.question}
assistant:
${item.outputs.answer}
#end

```user```
${question}
